body {

  color: #333333;
  margin-top: 5rem;
  background: url("images/maroc-drapeau.png"); 
  background-size: cover;


}



#mapid { height: 180px; }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
  margin:auto;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.register-section {
  background-color: white;
  font-size: 2rem;!important;
  padding: 20px;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.7);
  border-radius: 15px;
}

.nav-item {
  font-size: 2.5rem;!important;
  margin-left:15px  !important;
}

.navbar-brand {
  font-size: 3rem !important;
}


.cases-container
{
  margin-top: 20px; 
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

}

.case-box {
  background-color: white;
  width: 30%;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

#sec2 { display:inline-block; }

#sec3 { display:inline-block; }

#sec1 { display:inline-block; }


@media screen and (max-width: 1200px){
  .case-box {
    width: 80%
  }
}

@media screen and (max-width: 600px){
  .case-box {
    width: 90%
  }
}

.case-number {
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.case-type {
  line-height: 1;
  font-size: 18px;
  text-align: right;
}

.alert.success {
  background-color: green;
  font-size: 20px;
  font-weight: bold;
}

.alert.error {
  background-color: red;
  font-size: 20px;
  font-weight: bold;
}

.nav-item{
  text-align: right;
}