{% extends "layout.html" %}
{% block content %}

 <div class="cases-container">
    <div class="case-box">
     <p class="case-number"> {{new}} </p> <p class="case-type">confirmés</p>
    </div>
    <div class="case-box"> 
      <p class="case-number"> {{recovered}} </p> <p class="case-type">guéris</p>
    </div>
    <div class="case-box"> 
      <p class="case-number">  {{dead}} </p> <p class="case-type">morts</p>
    </div>
    <div class="case-box"> 
      <p class="case-number"> {{hosp}} </p> <p class="case-type">hospitalises</p>
    </div>
    <div class="case-box"> 
      <p class="case-number"> {{conf}} </p> <p class="case-type">confines</p>
    </div>
</div>
{% endblock content %}
