{% extends "layout.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            $(function () {
                $('#datePicker').datetimepicker();
            })

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    currentPosition = {
                                        'latitude': position.coords.latitude,
                                        'longitude': position.coords.longitude
                                      } 
                    $.ajax({
                        url: '/position',
                        type: 'POST',
                        data: JSON.stringify(currentPosition),
                        contentType: 'application/json;charset=UTF-8',
                        cache:false,
                        error: function(response){
                            alert('Error sending position')
                        }
                    });
                });
            } 
            else {
                alert("Geolocation is not supported by this browser.");
            }
        })
        
    </script>
    <div class="register-section box" >
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% from "_formhelpers.html" import render_field %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enregistrer cas</legend>
                <div class="form-group" >
                    {{render_field(form.nom)}}
                </div>
                <div class="form-group">
                    {{render_field(form.prenom)}}  
                </div>
                <div class="form-group">
                    {{render_field(form.cin)}}
                </div>
                <div class="form-group input-group date">
                    {{render_field(form.date)}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
     <div id="mapid"></div>

{% endblock content %}
