{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% from "_formhelpers.html" import render_field %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enregistrer cas</legend>
                <div class="form-group" >
                    {{render_field(form.prenom)}}
                </div>
                <div class="form-group">
                    {{render_field(form.nom)}}  
                </div>
                <div class="form-group">
                    {{render_field(form.date_de_naissance)}}
                </div>
                <div class="form-group">
                    {{render_field(form.lieu_de_naissance)}}
                </div>
                 <div class="form-group">
                    {{render_field(form.cin)}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}