{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
                $('#datepick1').datetimepicker();
                $('#datepick2').datetimepicker();
                $('#datepick3').datetimepicker();
            })

    })

</script>
 <div class="register-section box" >
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% from "_formhelpers.html" import render_field %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 col-md-12">Modifier Etat du  cas</legend>
                <div class="form-group col-md-12" >
                    {{render_field(form.cin)}}
                </div>
                <div class="form-group col-md-12">
                    {{render_field(form.status)}}  
                </div>
                <div class="form-group col-md-4">
                    {{render_field(form.date_hospitalisation)}}
                </div>
                <div class="form-group col-md-8">
                    {{render_field(form.lieu_hospitalisation)}}  
                </div>
                <div class="form-group col-md-12">
                    {{render_field(form.date_guerison)}}  
                </div>
                <div class="form-group col-md-12">
                    {{render_field(form.date_deces)}}  
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
